@import './quasar-variables.scss';

.link {
  color: $secondary;
  text-decoration: none;
}

.link.icon {
  cursor: pointer;
}

.btn {
  padding: 1rem;
  background: $secondary;
  color: white;
  border-radius: 5px;
}

.logo {
  text-decoration: none;
}